:root {
}

.body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  flex-direction: column;
  .header {
    width: 100%;
    min-height: 3rem;
    background-color: red;
  }
  .main {
    flex-grow: 1;
    background-color: green;
  }
  .footer {
    min-height: 1rem;
    background-color: yellow;
  }
}
.body::-webkit-scrollbar {
  display: none;
}
