:root {
}

.body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  flex-direction: column;
  .header {
    width: 100%;
    min-height: 3rem;
    display: flex;
    align-items: center;
    background-color: red;
    justify-content: space-evenly;
    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      .logo-img {
        img {
          width: 60px;
        }
      }
    }
    .nav-desktop {
      display: flex;
      align-items: center;
      gap: 1rem;
      justify-content: space-evenly;
      background-color: blue;
    }
  }
  .main {
    flex-grow: 1;
    background-color: green;
  }
  .footer {
    min-height: 1rem;
    background-color: yellow;
    display: none;
  }
}
.body::-webkit-scrollbar {
  display: none;
}
